.DS_Store
*.pyc
.idea
preprocessed_datatesting1
preprocessed_datatesting2
preprocessed_datatesting3
preprocessed_datatesting4
preprocessed_datatesting5
preprocessed_datatesting6
preprocessed_datatraining1
preprocessed_datatraining2
preprocessed_datatraining3
preprocessed_datatraining4
preprocessed_datatraining5
preprocessed_datatraining6
preprocessed_data
preprocessed_dataword